{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta property="csp-nonce" content="{{ request.csp_nonce }}">
        <script nonce="{{ request.csp_nonce }}">
            window.nonce="{{ request.csp_nonce }}";
        </script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <title>Okta Authentication Test</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />        
        
        <link 
            href="https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;500;600;700&display=swap"
            rel="stylesheet"
        />
        <link 
            href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
            rel="stylesheet"
        />

        <link
            href="https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap"
            rel="stylesheet"
        />

    </head>
    <body>
       <div id="app"></div> 
       <script src="{% static 'frontend/main.js' %}" nonce="{{ request.csp_nonce }}"></script>
       <script src="{% static 'frontend/vendor.js' %}" nonce="{{ request.csp_nonce }}"></script>
</html>